{% extends 'themes/default/super/layout/layout.html.twig' %}

{% block title %}Liste des utilisateurs {{ parent() }}{% endblock %}

{% block main_content %}
    <h1>Liste des utilisateurs</h1>
{% endblock %}
