{% extends 'themes/default/app/pages/security/template.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block main_content %}
    <div id="form-reinit" data-url={{ path('app_password_reinit', {'token': token, 'code': code}) }}></div>
{% endblock %}