@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?s30i5c');
    src:  url('../../fonts/icomoon.eot?s30i5c#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?s30i5c') format('truetype'),
      url('../../fonts/icomoon.woff?s30i5c') format('woff'),
      url('../../fonts/icomoon.svg?s30i5c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-add:before {
    content: "\e900";
  }
  .icon-bell:before {
    content: "\e901";
  }
  .icon-chat:before {
    content: "\e902";
  }
  .icon-check:before {
    content: "\e903";
  }
  .icon-chevron-left:before {
    content: "\e904";
  }
  .icon-chevron-right:before {
    content: "\e905";
  }
  .icon-close:before {
    content: "\e906";
  }
  .icon-close-circle:before {
    content: "\e907";
  }
  .icon-edit:before {
    content: "\e908";
  }
  .icon-export:before {
    content: "\e909";
  }
  .icon-files:before {
    content: "\e90a";
  }
  .icon-filter:before {
    content: "\e90b";
  }
  .icon-home:before {
    content: "\e90c";
  }
  .icon-menu:before {
    content: "\e90d";
  }
  .icon-new:before {
    content: "\e90e";
  }
  .icon-play:before {
    content: "\e90f";
  }
  .icon-reload:before {
    content: "\e910";
  }
  .icon-search:before {
    content: "\e911";
  }
  .icon-settings:before {
    content: "\e912";
  }
  .icon-trash:before {
    content: "\e913";
  }
  .icon-unlock:before {
    content: "\e914";
  }
  .icon-users:before {
    content: "\e915";
  }
  