@import "../../../vars/vars.scss";

.card1{
    border: 1px solid $colorBorder;
    padding: 16px 12px;
    border-radius: 5px;
    background-color: $alpha;
    @include boxshadow();

    &.card1-true{
        .card1-header-toggle-body{    
            .btn-icon{
                transform: rotate(-180deg);
            }
        }

        .card1-body{
            opacity: 1;
            height: 150px;
        }
    }

    &.card1-false{
        .card1-header-toggle-body{    
            .btn-icon{
                transform: rotate(0);
            }
        }

        .card1-body{
            opacity: 0;
            height: 0;
        }
    }

    .title{
        @include fontSemibold();
        margin-bottom: 2px;
        font-size: 18px;
    }
    .subtitle{
        opacity: 0.9;
    }
    .date-discret{
        opacity: 0.6;
    }

    .card1-header{
        margin-bottom: 8px;
        @include flex(row, stretch, space-between);
    }

    .card1-header-toggle-body{
        height: inherit;
        @include flex(row, center, center);
        padding: 0 12px;
        cursor: pointer;
        
        .btn-icon{
            transition: all 0.1s ease-in-out;
        }
    }

    .card1-body{
        overflow-y: auto;
        max-height: 150px;
        border-top: 1px solid $colorBorder;
        padding-top: 12px;
        transition: all 0.2s ease-in-out;

        /* width */
        &::-webkit-scrollbar {
            width: 6px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }    

    .card1-footer{
        margin-top: 8px;
        @include flex(row, flex-end, space-between);
        border-top: 1px solid $colorBorder;
        padding-top: 16px;

        .card1-footer-left, .card1-footer-right{
            @include flex(row, center, flex-start);
        }

        .card1-footer-right{
            justify-content: flex-end;
            margin-right: 12px;
        }

        .card1-footer-left{
            font-size: 14px;
    
            .btn-isSeen{
                width: 14px; height: 14px;
                transform: translateY(-2px);
            }
        }
    }
}

.card1:not(:last-child){
    margin-bottom: 12px;
}