{% extends 'themes/default/base.html.twig' %}

{% block title %}| Administration{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_admin') }}
{% endblock %}

{% block body %}
    <main>        
        {% block main_content %}{% endblock %}
    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('default_admin') }}
{% endblock %}