@mixin fontLight() { font-family: 'Poppins', sans-serif; font-weight: 300; }
@mixin fontRegular() { font-family: 'Poppins', sans-serif; font-weight: 400; }
@mixin fontSemibold() { font-family: 'Poppins', sans-serif; font-weight: 600; }
@mixin fontBold() { font-family: 'Poppins', sans-serif; font-weight: 700; }

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;flex-direction: $direction;
  align-items: $align;justify-content: $justify;
}

@mixin boxshadow(){
  box-shadow: 0 0 10px transparentize($color: $color3, $amount: 0.9);
}

$color0: #2B96D6;
$color1: #FEC61F;
$color2: #103044;
$color3: #15120D;
$color4: #F1ECEC;
$color5: #FDFCFC;
$color6: #676767;
$color7: #C6C3C3;
$color8: #DFDDDD;

$error: #d40d0e;
$errorBg: #ffb9b9;
$success: #169f50;
$successBg: #83ffc5;
$info: #405fb5;
$infoBg: #9ff0ff;

$alpha: #FFF;