@import "~normalize.css";
@import "vars/fonts.scss";
@import "vars/vars.scss";

@import "components/cookies.scss";
@import "components/loader.scss";

body {
    background-color: lightgray;
    @include fontRegular();
    line-height: 1.37;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
