{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_homepage') }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    Hello world 

    <div id="r-compteur" class="compteur" data-count="1946">0</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('default_homepage') }}
{% endblock %}