@import "../vars/vars.scss";

.item-user{
    background-color: $alpha;
    padding: 10px 10px 25px 10px;
    @include flex(column, center, flex-start);
    @include boxshadow();
    margin-bottom: 30px;
}

.item-user-actions{
    @include flex(row, center, space-between);
    width: 100%;
    margin-bottom: 15px;

    input{
        cursor: pointer;
    }

    .user-actions{
        position: relative;
        @include flex(row, center, center);
        border-radius: 5px;
        width: 26px; height: 26px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover{
            background-color: $colorFond;
            .icon-more{
                color: $color0;
            }
            .user-actions-drop{
                z-index: 1; opacity: 1;
            }
        }

        .icon-more{
            display: inline-block;
            transform: rotate(90deg);
            font-weight: bold;
            color: $colorDisabled;
            transition: color 0.2s ease-in-out;
        }

        .user-actions-drop{
            position: absolute;
            top: 0; right: 0;
            padding: 30px 0 0 0;
            z-index: -1; opacity: 0;
            transition: opacity 0.2s ease-in-out;

            &:hover{
                z-index: 1; opacity: 1;
            }

            .drop-items{
                background-color: $alpha;
                border-radius: 5px;
                @include boxshadow();
                @include flex(column, stretch, flex-end);
                font-size: 14px;
                text-align: right;
                overflow: hidden;
            }
            .drop-item{
                padding: 5px 10px;
                opacity: 0.6;
                transition: opacity 0.2s ease-in-out;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.item-user-avatar{
    overflow: hidden;
    margin-bottom: 15px;
    
    img{
        border-radius: 300px;
        width: 60px; height: 60px;
    }
}

.item-user-username{
    @include fontSemibold();
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.item-user-email{
    font-size: 14px;
    margin-bottom: 10px;
}

.item-user-roles{
    .user-badge{
        padding: 4px 8px;
        border-radius: 5px;
        font-size: 14px;

        &.user-badge-0{ background-color: $nuance0; }
        &.user-badge-1{ background-color: $nuance1; }
        &.user-badge-2{ background-color: $nuance2; }
    }
}

.item-user-status{
    .user-new{
        color: $color4;
    }
}

#users .aside-title{
    .title{
        text-transform: capitalize;
    }
}

.aside-user-informations{
    font-size: 14px;
    margin-bottom: 25px;
    color: $color6;
    padding-bottom: 25px;
    border-bottom: 1px solid $color5;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .liste-user{
        @include flex(row, stretch, flex-start);
        flex-wrap: wrap;
    }
    .item-user{
        width: calc(50% - 35px);

        &:nth-child(odd){
            margin-right: 15px;
        }
        &:nth-child(even){
            margin-left: 15px;
        }
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .liste-user{
        width: calc(100% + 15px);
    }
    .item-user{
        width: calc(33% - 32px);

        &:nth-child(odd){
            margin-right: 15px;
        }
        &:nth-child(even){
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    .liste-user{
        width: calc(100% + 30px);
    }
    .item-user{
        width: calc(25% - 50px);

        &:nth-child(odd){
            margin-right: 30px;
        }
        &:nth-child(even){
            margin-left: 0;
            margin-right: 30px;
        }
    }
}