{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_contact') }}
{% endblock %}

{% block body %}
    <h1>Demande Contact</h1>

    <div id="form-contact"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('default_contact') }}
{% endblock %}