@import "../vars/vars.scss";

#loader{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: transparentize($color: $color3, $amount: 0.3);
    z-index: 10000;
    @include flex();
    display: none;

    span{
        color: $color4;
    }
}