// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600,700&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?s30i5c');
    src:  url('../../fonts/icomoon.eot?s30i5c#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?s30i5c') format('truetype'),
      url('../../fonts/icomoon.woff?s30i5c') format('woff'),
      url('../../fonts/icomoon.svg?s30i5c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-modules:before {
  content: "\e967";
}
.icon-sites-internet:before {
  content: "\e968";
}
.icon-applications:before {
  content: "\e969";
}
.icon-autres:before {
  content: "\e96a";
}
.icon-logiciels:before {
  content: "\e96b";
}
.icon-time:before {
  content: "\e966";
}
.icon-chevron-up:before {
  content: "\e965";
}
.icon-vision-not:before {
  content: "\e964";
}
.icon-chevron-down:before {
  content: "\e963";
}
.icon-align-center:before {
  content: "\e900";
}
.icon-align-right:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-bar-chart:before {
  content: "\e903";
}
.icon-barcode:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e905";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-briefcase:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-cancel:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e90b";
}
.icon-certificate:before {
  content: "\e90c";
}
.icon-chat:before {
  content: "\e90d";
}
.icon-chat-2:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-clock:before {
  content: "\e910";
}
.icon-cloud:before {
  content: "\e911";
}
.icon-credit---card:before {
  content: "\e912";
}
.icon-dashboard:before {
  content: "\e913";
}
.icon-disabled:before {
  content: "\e914";
}
.icon-diskette:before {
  content: "\e915";
}
.icon-dislike:before {
  content: "\e916";
}
.icon-down-arrow:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-earth:before {
  content: "\e919";
}
.icon-eject:before {
  content: "\e91a";
}
.icon-email:before {
  content: "\e91b";
}
.icon-equalizer:before {
  content: "\e91c";
}
.icon-error:before {
  content: "\e91d";
}
.icon-exclamation:before {
  content: "\e91e";
}
.icon-file:before {
  content: "\e91f";
}
.icon-filter:before {
  content: "\e920";
}
.icon-flag:before {
  content: "\e921";
}
.icon-flash:before {
  content: "\e922";
}
.icon-folder:before {
  content: "\e923";
}
.icon-headphone:before {
  content: "\e924";
}
.icon-heart:before {
  content: "\e925";
}
.icon-home:before {
  content: "\e926";
}
.icon-image:before {
  content: "\e927";
}
.icon-inbox:before {
  content: "\e928";
}
.icon-information:before {
  content: "\e929";
}
.icon-justify:before {
  content: "\e92a";
}
.icon-laptop:before {
  content: "\e92b";
}
.icon-left-align:before {
  content: "\e92c";
}
.icon-left-arrow:before {
  content: "\e92d";
}
.icon-levels:before {
  content: "\e92e";
}
.icon-like:before {
  content: "\e92f";
}
.icon-link:before {
  content: "\e930";
}
.icon-list:before {
  content: "\e931";
}
.icon-login:before {
  content: "\e932";
}
.icon-logout:before {
  content: "\e933";
}
.icon-menu:before {
  content: "\e934";
}
.icon-minus:before {
  content: "\e935";
}
.icon-more:before {
  content: "\e936";
}
.icon-move:before {
  content: "\e937";
}
.icon-mute:before {
  content: "\e938";
}
.icon-next:before {
  content: "\e939";
}
.icon-notification:before {
  content: "\e93a";
}
.icon-padlock:before {
  content: "\e93b";
}
.icon-pause:before {
  content: "\e93c";
}
.icon-pencil:before {
  content: "\e93d";
}
.icon-placeholder:before {
  content: "\e93e";
}
.icon-play:before {
  content: "\e93f";
}
.icon-plus:before {
  content: "\e940";
}
.icon-power-button:before {
  content: "\e941";
}
.icon-print:before {
  content: "\e942";
}
.icon-push-pin:before {
  content: "\e943";
}
.icon-qr-code:before {
  content: "\e944";
}
.icon-question:before {
  content: "\e945";
}
.icon-question-2:before {
  content: "\e946";
}
.icon-refresh:before {
  content: "\e947";
}
.icon-resize:before {
  content: "\e948";
}
.icon-right-arrow:before {
  content: "\e949";
}
.icon-screenshot:before {
  content: "\e94a";
}
.icon-search:before {
  content: "\e94b";
}
.icon-settings:before {
  content: "\e94c";
}
.icon-share:before {
  content: "\e94d";
}
.icon-shield:before {
  content: "\e94e";
}
.icon-shuffle:before {
  content: "\e94f";
}
.icon-smartphone:before {
  content: "\e950";
}
.icon-star:before {
  content: "\e951";
}
.icon-stop:before {
  content: "\e952";
}
.icon-tablet:before {
  content: "\e953";
}
.icon-tag:before {
  content: "\e954";
}
.icon-tasks:before {
  content: "\e955";
}
.icon-telephone:before {
  content: "\e956";
}
.icon-trash:before {
  content: "\e957";
}
.icon-unlock:before {
  content: "\e958";
}
.icon-up-arrow:before {
  content: "\e959";
}
.icon-upload:before {
  content: "\e95a";
}
.icon-user:before {
  content: "\e95b";
}
.icon-video:before {
  content: "\e95c";
}
.icon-vision:before {
  content: "\e95d";
}
.icon-volume:before {
  content: "\e95e";
}
.icon-warning:before {
  content: "\e95f";
}
.icon-wifi:before {
  content: "\e960";
}
.icon-zoom-in:before {
  content: "\e961";
}
.icon-zoom-out:before {
  content: "\e962";
}
