@mixin fontLight() { font-family: 'Poppins', sans-serif; font-weight: 300; }
@mixin fontRegular() { font-family: 'Poppins', sans-serif; font-weight: 400; }
@mixin fontSemibold() { font-family: 'Poppins', sans-serif; font-weight: 600; }
@mixin fontBold() { font-family: 'Poppins', sans-serif; font-weight: 700; }

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;flex-direction: $direction;
  align-items: $align;justify-content: $justify;
}

@mixin boxshadow(){
  box-shadow: 0 0 10px transparentize($color: $color0, $amount: 0.9);
}

$color0: #1A535C;
$color1: #4ECDC4;
$color2: #F7FFF7;
$color3: #FF6B6B;
$color4: #E7CF56;
$color5: #dddddd;
$color6: #5D5D5D;

$colorDisabled: #BCC0BC;

$nuance0: #ffcbf2;
$nuance1: #deaaff;
$nuance2: #c8e7ff;

$nuanceColor4: #d1c169;

$error: #e63946;

$colorFond: #F9F9F9;
$alpha: #fff;