<header>
    <div class="header-menu">
	<a href="#" class="bell"><span class="icon-bell"></span></a>
	<div class="dropdown">
	    <div class="dropdown-btn">
		<div class="avatar">
		    <img src="{{ asset('build/themes/default/super/images/profil.jpg') }}" alt="avatar utilisateur {{ app.user.username }}">
		</div>
		<div class="username">{{ app.user.username | capitalize }}</div>
	    </div>
	    <div class="dropdown-elements">
		<div class="items">
		    <a class="item" href="">Mon profil</a>
		    <a class="item" href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
	    </div>
	</div>
    </div>
</header>