{% set primaryMenu = [
    {
	'path': '',
	'icon': 'home',
	'label': 'Dashboard',
	'name': 'dashboard'
    },
    {
	'path': '',
	'icon': 'users',
	'label': 'Utilisateurs',
	'name': 'utilisateurs'
    },
    {
	'path': path('super_admin_rgpd_index'),
	'icon': 'users',
	'label': 'Demande RGPD',
	'name': 'rgpd'
    }
] %}

{% set secondaryMenu = [
    {
	'path': '',
	'icon': 'settings',
	'label': 'Paramètres',
	'name': 'parametres'
    }
] %}
<div id="navigation"></div>