{% extends 'themes/default/app/pages/legales/template.html.twig' %}

{% block title %}Demande RGPD{% endblock %}

{% block body %}
    <h1>Demande RGPD</h1>

    <div id="form-rgpd" data-url={{ path('app_rgpd') }}></div>
{% endblock %}