@import '../vars/vars.scss';

.btn{
    border: 1px solid $color5;
    text-transform: uppercase;
    padding: 10px 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    background-color: $alpha;
    outline: none;
    color: $color0;

    span{
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }

    &:hover, &:focus{
        span{
            transform: scale(0.97);
        }
    }
}

.btn-icon{
    position: relative;
    display: flex;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    border: none;
    background-color: transparent;

    [class^="icon-"]{
        font-size: 20px;
    }

    &:hover{
        opacity: 1;

        .tooltip{
            opacity: 1;
            transform: scale(1);
        }
    }

    .tooltip{
        position: absolute;
        top: -30px;
        right: 0;
        background-color: transparentize($color: $beta, $amount: 0.3);
        color:$alpha;
        padding: 2px 6px;
        border-radius: 4px 4px 0 4px;
        transform: scale(0);
        font-size: 14px;
        opacity: 0;
        transform-origin: bottom right;
        transition: all 0.1s ease-in-out;
    }
    .tooltip-bot-right{
        top: auto;
        bottom: -35px;
        border-radius: 4px 0 4px 4px;
    }
}

.btn-isSeen{
    opacity: 0.4;
    padding: 0;
    width: 14px;
    height: 14px;

    [class^="icon-"]{
        font-size: 14px;
    }
}

.btn-primary{
    color: $alpha;
    background-color: $primary;

    &:hover, &:focus{
        opacity: 0.93;
    }
}

.btn-warning{
    color: $alpha;
    background-color: $warning;

    &:hover, &:focus{
        opacity: 0.93;
    }
}

.btn-danger{
    color: $alpha;
    background-color: $danger;

    &:hover, &:focus{
        opacity: 0.93;
    }
}