@import '../vars/vars.scss';

.btn{
    border: 1px solid $color5;
    text-transform: uppercase;
    padding: 10px 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    outline: none;
    color: $color0;

    span{
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }

    &:hover, &:focus{
        span{
            transform: scale(0.97);
        }
    }
}

.btn-primary{
    color: $alpha;
    background-color: $primary;

    &:hover, &:focus{
        background-color: $primary;
        opacity: 0.93;
    }
}