@import "../vars/vars.scss";

@import "split/card/card1.scss";
@import "split/card/carddash.scss";

.card{
    border: 1px solid $colorBorder;
    padding: 16px 12px;
    border-radius: 5px;
    background-color: $alpha;
    @include boxshadow();
    margin-bottom: 12px;

    .title{
        @include fontSemibold();
        font-size: 24px;
    }
}