@import "../vars/vars";

.card{
    position: relative;

    .card-content{
	position: relative;
	background-color: $color3;
	@include boxshadow;
	border-radius: 10px;
	padding: 8px 10px;
	margin-bottom: 10px;
	z-index: 3;
	@include transition;
	
	&:hover{
	    background-color: $color3-light;
	}
	
	.card-user-header_body{
	    display: flex;
	    padding-top: 10px;

	    .card-header{
		width: calc(100% - 20px - 10px);
		margin-right: 10px;
	    }
	    .card-body{
		width: 20px;
	    }

	    & + .card-footer{
		margin-top: 20px;
		padding-bottom: 10px;
	    }
	}    

	.user-label{
	    display: flex;
	    margin-bottom: 10px;

	    .avatar{
		margin-right: 10px;
		width: 42px; height: 42px;
		img{width: 42px; height: 42px;}
	    }

	    .user-title{
		display: flex; flex-direction: column;
		width: calc(100% - 32px - 10px);
		max-width: calc(100% - 32px - 10px);
		min-height: 32px;

		.title{
		    @include fontSemibold;
		    margin-bottom: 5px;
		    a{color: $color5;}
		}
	    }
	}
	.user-state-1{
	    color: $error;
	    margin-bottom: 5px;
	    
	    .label{@include hide;}
	}
	.user-state-2{
	    color: $color8;
	}

	.actions{
	    display: flex;

	    & > *:not(:last-child){
		margin-right: 15px;
	    }
	}
	
	&.open-selector{
	    transform: translateX(-22%);
	    
	    & + .card-selector{z-index: 1};
	}
    }
    
    .card-selector{
	position: absolute;
	display: flex;align-items: center; justify-content: flex-end;
	width: calc(100% - 40px);
	height: calc(100% - 16px);
	top: 0;left: 0;
	background-color: $color3;
	border-radius: 10px;
	padding: 8px 20px;
	z-index: -1;
	cursor: pointer;
	@include transition;
	
	&:hover .card-selector-checkbox{
	    transform: scale(1.1);	
	}
	
	.card-selector-checkbox{
	    @include displayCenter;
	    background: $color6;
	    box-shadow: inset 0 0 10px transparentize($color7, 0.8);
	    width: 16px; height: 16px;
	    border-radius: 5px;
	    @include transition;

	    [class^="icon-"]{
		opacity: 0;
		color: $color5;
	    }
	}
	
	&.active{
	    background-color: $color1;
	    
	    .card-selector-checkbox{
		background: transparent;
		box-shadow: none;
		[class^="icon-"]{
		    opacity: 1;
		}
	    }
	}
    }
    
    .card-content.card-content-empty{
	font-size: 0.9em;
	width: 100%;
	&.open-selector{transform: translateX(0);}
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .card{
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	
	.card-content{
	    display: flex;
	    width: 90%;
	    padding: 15px 10px;
	    
	    .card-user-header_body{
		width: calc(100% - 260px);
		margin-right: 30px;
		padding-top: 0;
		
		.card-header{
		    width: calc(100% - 160px - 10px);
		}
		
		.card-body{
		    width: 160px;
		}
	    
		& + .card-footer{
		    width: 230px;
		    margin-top: 0;
		    padding-bottom: 0;
		    display: flex;
		    align-items: center; justify-content: flex-end;
		}
	    }
	    
	    .user-state-1{
		display: flex;align-items: center;
		.label{
		    @include show;
		    font-size: 0.8em;
		    margin-left: 5px;
		}
	    }
	    
	    &.open-selector{transform: translateX(0);}
	}
	
	.card-selector{
	    justify-content: flex-start;
	    height: calc(100% - 26px);
	    z-index: 1;
	}
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .card{	
	.card-content{
	    width: calc(90% - 40px);
	    padding: 15px 30px;
	}
	
	.card-selector{
	    width: calc(100% - 50px);
	    padding-left: 30px; 
	}
    }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
    .card{	
	.card-content{
	    width: 90%;
	}
    }
}
