@import "../vars/vars";

.param-cookies{
  position: fixed;
  background: $color3;
  color: $color5;
  padding: 10px 15px;
  width: calc(100% - 30px);
  z-index: 5000;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  bottom: 0;
  font-size: 0.8em;
  @include boxshadow();

  p > a{
    display: inline-block;
    margin-top: 5px;
    color: $infoBg;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;

    &:hover{
      color: $color1;
    }
  }
}
.param-cookies-actions{
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  button{
    margin-right: 10px;
    background-color: $infoBg;
  }
  a{
    color: $color3;
  }
}
.btn-cookies{
  border: 1px solid $color1;
  border-radius: 5px;
  background-color: $color5;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover{
    background-color: $color1;
  }
}
.btn-cookies.active{
  background-color: $color1;
  border: 1px solid $color1;
  color: $alpha;

}
.param-cookies.active{
  display: flex;
}
.param-cookies-txt{
  @include flex('row', 'flex-start', 'flex-strat');
  p{
    margin-right: 15px;
  }
  .icon-close{
    transform: translateY(5px);
    cursor: pointer;
  }
}

@media (min-width:768px) {
  .param-cookies.active{
    max-width: 300px;
    bottom: 10px;
    left: 10px;
  }
}
