@import "../vars/vars";

.deco{
    width: 320px;
    position: absolute;
    top: -30%;
    left: 0;
    overflow: hidden;
    z-index: -1;
    @include transition(0.5s);
}

.deco-round{
    width: 365px;
    height: 365px;
    display: block;
    background-color: $color2;
    border-radius: 50%;
    @include transition(0.5s);
}


//                      __   _____  __    ___    __
//                     | _| |___ / / /_  / _ \  |_ |
//    _____ _____ _____| |    |_ \| '_ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |   ___) | (_) | |_| |  | |_____|_____|_____|
//                     | |  |____/ \___/ \___/   | |
//                     |__|                     |__|
@media (min-width:360px) {
    .deco{width: 360px;}
}


//                      __   __________ ____    __
//                     | _| |___ /___  | ___|  |_ |
//    _____ _____ _____| |    |_ \  / /|___ \   | |_____ _____ _____
//   |_____|_____|_____| |   ___) |/ /  ___) |  | |_____|_____|_____|
//                     | |  |____//_/  |____/   | |
//                     |__|                    |__|
@media (min-width:375px) {
    .deco{width: 365px;}
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .deco{top:-15%; left: -5%;}
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .deco{top:-20%; left: -3%;}
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .deco{
	left: 8%;
    }
}
//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    .deco{
	top: -20%;
	left: 6%;
    }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
    .deco{
	width: 625px;
	top: -40%;
	left: 8%;
	
	.deco-round{
	    width: 625px; height: 625px;
	}
    }
}