@import '../vars/vars.scss';

.form-title{
    display: block;
    @include fontSemibold();
    margin-bottom: 15px;
}

.line{
    @include flex(column, stretch, flex-start);
    width: 100%;
    margin-bottom: 20px;

    .form-group:not(:last-child){
        margin-bottom: 10px;
    }
}

.line{
    label{
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        color: $color6;
        margin-bottom: 5px;
    }
}

input{
    border: 1px solid $color5;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 14px;
    width: calc(100% - 20px);
    outline: none;

    &:focus{
        border: 1px solid transparentize($color: $color0, $amount: .7);
    }
}

.form-group-error{
    label{
        color: $error;
    }
    input{
        border-color: $error;
    }
    .error{
        font-size: 14px;
        padding: 8px 2px 2px 12px;
        color: $error;
        text-align: right;

        .icon-warning{
            display: inline-block;
            margin-left: 10px;
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .line.line-2{
        flex-direction: row;
        .form-group:first-child{
            margin-right: 10px;
        }
        .form-group:last-child{
            margin-left: 10px;
        }
    }
}