@import "../vars/vars.scss";

header{
    background-color: $alpha;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    @include flex(row, center, space-between);

    .icon-menu{color: $color0;}
}

.header-user{
    @include flex(row, center, center);

    & > *:not(:last-child){
        margin-right: 10px;
    }

    a{
        color: $color3;
    }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    header{
        margin: 15px 15px 15px calc(25% + 15px);
        justify-content: flex-end;

        .icon-menu{display: none;}
    }
}
//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    header{
        margin: 25px 30px 25px calc(17% + 30px);
    }
}
//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    header{
        margin: 25px 5% 25px calc(15% + 5%);
    }
}