@import "../vars/vars";

nav{
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    background-color: $color7;
    position: fixed;
    top: 0; left: 0;
    width: 50px;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    @include transition();
    
    .logo{
	padding: 10px 15px;
	span{
	    font-size: 26px;
	    @include fontBold;
	    color: $color8;
	}
    }

    .separator{
	width: 40px;
	height: 2px;
	background-color: $color4;
	margin: 0 5px;
    }
}

.menu{
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: space-between;
    height: 100%;
    width: 100%;
    
    .primary-menu{
	display: flex; flex-direction: column;
	align-items: flex-start; justify-content: flex-start;
	width: 100%
    }
    
    .item{
	position: relative;
	@include displayCenter;
	padding: 15px;
	color: $color6;
	width: calc(100% - 30px);
	
	.label{@include hide;}
    }
    .item.active, .item:hover{
	color: $color5;
    }
    
    .copyright{@include hide;}
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    nav{
	width: 150px;
	
	.logo{
	    padding: 15px 15px 10px 15px;
	}
	.separator{
	    width: 130px;
	}
    }
    .menu{
	.item{
	    justify-content: flex-start;
	    
	    .label{
		@include show();
		margin-left: 10px;
		font-size: 14px;
		@include transition();
	    }
	}
	.copyright{
	    @include show();
	    opacity: 0.4;
	    padding: 0 15px;
	    font-size: 0.8em;
	    @include transition();
	    
	    a{padding: 0;width: 100%;margin-top:5px;}
	}
    }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
    nav{
	width: 220px;
	
	.logo{
	    padding: 30px 15px 30px 30px;
	}
	.separator{
	    width: 200px;
	}
    }
    .menu{
	.item{
	    padding: 15px 15px 15px 30px;
	    width: calc(100% - 45px);
	}
	.item:first-child{
	    margin-top: 15px;
	}
	.copyright{
	    padding: 0 30px;
	}
    }
}