@import "../vars/vars.scss";

.toolbar{
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $color5;
}

.toolbar{
    input[type="search"]{
        width: 100%;
        outline-color: $alpha;
    }
}