@import "../vars/vars";

.toolbar{
    .toolbar-left{
	margin-bottom: 12px;
	
	 & > .items{
	    display: inline-block;
	}
    }
    .toolbar-right{
	display: flex;
	align-items: center;justify-content: flex-start;
	
	& > .items{
	    display: inline-block;
	}
	.item-filtre{
	    .dropdown-elements .items{min-width: 125px;}
	}
	
	.item-search{
	    width: calc(100% - 10px - 46px);
	    margin-left: 10px;
	    
	    .form-search{
		position: relative;
		display: flex;
		@include transition();

		&:hover{transform: translateY(-2px);}

		.btn-search{
		    position: absolute;
		    width: 45px; height: 45px;
		    top: 0;right: -2px;
		    z-index: 1;

		    &:hover{
			transform: translateY(0);
		    }
		}
	    }
	    
	}
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .toolbar{
	@include displayBetween;
	.toolbar-left{margin-bottom: 0;}
	.toolbar-right{
	    .item-search{
	    }
	}
    }
}