{% extends 'themes/default/base_super.html.twig' %}

{% block body %}

    {% set menu = [
        {
            'path': path('super_dashboard'),
            'icon': 'home',
            'label': 'Dashboard',
            'name': 'dashboard'
        },
        {
            'path': path('super_users_index'),
            'icon': 'user',
            'label': 'Utilisateurs',
            'name': 'utilisateurs'
        }
    ] %}

    <div id="default" data-menu="{{ menu | json_encode() }}"></div>

    <main>        
        {% block main_content %}{% endblock %}
    </main>
{% endblock %}