@import "~normalize.css";
@import "vars/fonts.scss";
@import "vars/vars.scss";

@import "components/menu.scss";

body {
    @include fontRegular();
    background-color: $colorFond;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}